* {
  box-sizing: border-box;
}
.products {
  height: 100%;
  align-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.products:after {
  content: "";
  display: table;
  clear: both;
}
.product {
  float: left;
  width: 25%;
  border: 1px solid lightgray;
  height: 300px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .products {
    margin-left: 20px;
    margin-right: 20px;
  }
  header {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .product {
    width: 100%;
  }
}
.productDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.sale {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
}
.exclusive {
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: green;
  color: white;
  text-align: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  background-color: lightblue;
  height: 50px;
}
.productInfo {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
}
